@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gilbert";
  src: url("./font/gilbert-qualifi-demo.regular.ttf");
}

p {
  font-family: 'Lexend', sans-serif !important;
}

.four-pointed-star{
  position: absolute;
  z-index: 200;
  margin:1em auto;
  width: 3px;
}

.four-pointed-star:before{
  content:"";
  position:absolute;
  /* background:red; */
  width: 8px;
  height: 8px;
  transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.four-pointed-star:after{
  content:"";
  position:absolute;
  /* background:red; */
  width: 8px;
  height: 8px;
  transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}